<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Resturant</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>

	<h2 style="text-align: center;"><kbd>Reservation:</kbd></h2>
	<form class="form-inline" method="post" action="addReservation" > 	
	 	
	 	<input type="hidden" name="id"/>
	 	

	 	Name:<input type="text" name="userName"/>
	 	Phone Number:<input type="number" name="userPhone"/>
		Resturant Name:<select name="pid">
	 					<option th:each="p : ${resturantList}" th:value="${p.id}" th:text="${p.name}">
	 				</select>	
	 	<br>
	 	Review Date: <input type="date" name="appointmentDate"/>
	 	Review Time: <input type="time" name="appointmentTime"/>	 	
	 	
	 	<input type="submit"value="Confirm!"/>
 	</form>
 	<table class="table table-stripped" th:if="${resturantList != null and !resturantList.empty}">
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Phone Number</th>
			
		</tr>
		<tr  th:each="aResturant : ${resturantList}">
			<td th:text="${aResturant.name}">Frank</td>
			<td th:text="${aResturant.location}">12</td>
			<td th:text="${aResturant.phoneNumber}">date</td>
			
			
			
		</tr>
</table>
</body>
</html>